---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/badge.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>STAR Rocketry</title>
  </head>
  <body>
    <h1>
      Hey this is STAR Rocketry, REVA University's one and only official team to
      see the good stuff. Stay tunned we got some good stuff planned real soon.
    </h1>
  </body>
</html>
