---
import "../styles/sponsors.css";
---

<section class="command-center">
  <div class="module-grid">
    <div class="glass-module sponsor-card">
      <div class="module-header">
        <span class="serial-no">SPONSOR</span>
        <h2>FUEL THE MISSION</h2>
      </div>
      <p>
        Partner with us to accelerate the development of Model Rockets.
        Currently working on an SRAD M-Class single stage rocket.
      </p>

      <a href="/sponsor-tier" class="launch-btn">
        OPEN SPONSORSHIP TIERS
        <span class="arrow">→</span>
      </a>
    </div>

    <div class="glass-module mailing-card">
      <div class="module-header">
        <span class="serial-no">UPDATES</span>
        <h2>MISSION LOGS</h2>
      </div>
      <p>Check out what we currently are working on.</p>
      <a href="/projects" class="launch-btn">
        LAUNCH
        <span class="arrow">→</span>
      </a>

      <!-- <form class="glass-form">
        <div class="input-group">
          <input type="email" placeholder="IDENTIFY@DOMAIN.COM" required />
          <button type="submit">TRANSMIT</button>
        </div>
      </form> -->
    </div>
  </div>
</section>
