---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
      integrity="sha384-GvrOXuhDBWwTRmFIgwVeZ9PSz9WvxV8C7UJGkuzuyqdCPWIRLXjzuuaHxtOJTMTo"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/badge.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
